@font-face {
  font-family: myFont;
  src: url(../font/Manrope-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
}

.link {
  display: inline-block;
  color: white;
  background-color: #FF6433;
  padding: 16px 40px;
  border-radius: 12px;
  margin-top: 40px;
  outline: none;
}

.finsweet--header--nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  line-height: 2;
  margin-top: 20px;
  margin-bottom: 10vh;
  border-bottom: 1px solid rgb(219, 216, 216);
}
.finsweet--header--nav ul {
  list-style-type: none;
  min-width: 50vw;
}
.finsweet--header--nav .nav--sub {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}
.finsweet--header--nav .nav--sub [alt="whatsapp logo"] {
  display: inline-block;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 769px) {
  .finsweet--header--nav {
    border: none;
  }
  .finsweet--header--nav div:first-child {
    display: flex;
    justify-content: space-between;
  }
  .finsweet--header--nav div:first-child ul {
    display: flex;
    justify-content: space-between;
    justify-self: center;
  }
  .finsweet--header--nav div:first-child ul li {
    display: inline-block;
    margin-left: 15px;
  }
}
.finsweet--header--content {
  padding: 0 10vw;
  line-height: 2;
  margin: auto;
}
.finsweet--header--content article {
  max-width: 80vw;
  margin-top: 75px;
}
.finsweet--header--content article div:last-child {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 80%;
  margin-top: 3rem;
}
.finsweet--header--content article .open--time {
  color: grey;
}
.finsweet--header--content > div img {
  width: 400px;
  height: 500px;
  margin: auto 0;
}

@media screen and (min-width: 769px) {
  .finsweet--header--content {
    display: flex;
    justify-content: space-between;
  }
  .finsweet--header--content article {
    max-width: 30vw;
  }
}
.finsweet--quote {
  padding: 0 10vw;
  line-height: 2;
  background-color: #E2E6E9;
  padding-top: 3em;
  padding-bottom: 3em;
}
.finsweet--quote h1, .finsweet--quote h2 {
  margin-bottom: 2rem;
}
.finsweet--quote h3 {
  margin-bottom: 1rem;
}
.finsweet--quote--feature {
  width: 80%;
}
.finsweet--quote--feature a > img {
  background-color: #E2E6E9;
}
.finsweet--quote img {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: auto;
  margin-right: 15px;
}
.finsweet--quote article > div {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 30px;
}
.finsweet--quote--link div label > input {
  display: inline-block;
  width: 80%;
  padding: 15px 5px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .finsweet--quote {
    display: flex;
    justify-content: space-between;
  }
  .finsweet--quote--feature {
    width: 40%;
  }
  .finsweet--quote--link div label > input {
    display: inline-block;
    width: 100%;
  }
}
.finsweet--process {
  padding: 0 10vw;
  line-height: 2;
  margin: 3em 0;
}
.finsweet--process article {
  width: 80%;
  margin-bottom: 4rem;
}
.finsweet--process ul {
  list-style-type: none;
}
.finsweet--process ul li p {
  padding-left: 3.5em;
  border-left: 3px dashed yellow;
  margin-left: 0.8em;
  padding-bottom: 1em;
}
.finsweet--process ul .number {
  background-color: #661CE7;
  border-radius: 50%;
  width: 80px;
  height: 60px;
  padding: 5px;
  margin-right: 2em;
}

@media screen and (min-width: 768px) {
  .finsweet--process {
    display: flex;
    justify-content: space-between;
  }
  .finsweet--process article {
    width: 40%;
  }
}
.finsweet--offer {
  padding: 5em 10vw;
  line-height: 2;
  text-align: center;
  background-color: #E2E6E9;
}
.finsweet--offer--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.finsweet--offer--list div {
  width: 250px;
  padding: 40px 0;
  margin: auto;
  margin-bottom: 3px;
  background-color: #FFFFFF;
}
.finsweet--offer h2 {
  margin: 3rem 0;
}
.finsweet--offer .finsweet--wheel {
  background-color: #FF6433;
  color: #FFFFFF;
}
.finsweet--offer a {
  display: inline-block;
  text-align: right;
  margin: 2rem 0;
}
.finsweet--offer p {
  text-align: center;
}

.finsweet--CTA {
  background-color: #FF6433;
}
.finsweet--CTA article {
  text-align: left;
  width: 80vw;
  margin: auto;
  padding: 3rem 1rem;
  color: white;
}
.finsweet--CTA article a {
  background-color: black;
  color: #E2E6E9;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  border-radius: 5px;
}

@media screen and (min-width: 481px) {
  .finsweet--CTA {
    background-size: contain, contain;
  }
  .finsweet--CTA article {
    width: 50vw;
  }
}
@media screen and (min-width: 768px) {
  .finsweet--CTA {
    background: url("/image/Carbg.svg") no-repeat left, url("/image/pliersbg.svg") no-repeat right;
    background-size: contain, auto;
  }
  .finsweet--CTA article {
    width: 30vw;
    background-color: #FF6433;
  }
}
.finsweet--experience {
  padding: 3rem 10vw;
  display: grid;
  justify-content: space-between;
  background-color: #E2E6E9;
  text-align: justify;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.finsweet--experience div {
  margin-bottom: 2rem;
}
.finsweet--experience div p {
  margin-bottom: 1rem;
}
.finsweet--experience div p:first-child {
  color: #9d7dd4;
  font-weight: 700;
  font-size: 2rem;
}

.finsweet--brands {
  margin: 3rem auto;
  padding: 0 10vw;
}
.finsweet--brands h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem auto;
  font-weight: 700;
}

.finsweet--testimonials {
  background-color: #E2E6E9;
  padding: 3rem 10vw;
}
.finsweet--testimonials h1 {
  width: 40vw;
  margin: auto;
}
.finsweet--testimonials article {
  background-color: #FFFFFF;
  width: 80%;
  margin: 3rem;
  border-radius: 5px;
  padding: 2em 1em;
}
.finsweet--testimonials--profile {
  display: flex;
}
.finsweet--testimonials--profile div:last-child {
  font-size: 0.8rem;
  margin-left: 1rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  article {
    margin: 3rem none;
    width: 40%;
  }
  .testimonial--section {
    display: flex;
  }
}
.finsweet--FAQ {
  background-color: #E2E6E9;
  padding-bottom: 2rem;
}
.finsweet--FAQ h2 {
  text-align: center;
}
.finsweet--FAQ h3 {
  display: flex;
}
.finsweet--FAQ h3 .button--nav {
  margin-left: 30%;
  background-color: #FF6433;
  padding: 0.3rem 0.4rem;
  text-align: end;
}
.finsweet--FAQ article {
  background-color: #FFFFFF;
  width: 80vw;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 1rem;
}

@media screen and (min-width: 769px) {
  .finsweet--FAQ article {
    width: 40vw;
  }
}
.finsweet--footer {
  color: white;
}
.finsweet--footer h3 {
  color: grey;
  font-size: 1rem;
}
.finsweet--footer--media {
  padding: 0 10vw;
  line-height: 2;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgb(22, 22, 22);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  gap: 10vw;
}
.finsweet--footer--media a img {
  margin-right: 10px;
  margin-top: 4rem;
}

.finsweet--more--info {
  background-color: black;
  padding: 0 10vw;
  line-height: 2;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}
.finsweet--more--info a {
  color: white;
  display: inline-block;
  margin-left: 10px;
}
.finsweet--more--info div:last-child {
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */